header {
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(121, 13, 13);
    background-image: url('../images/prince.jpeg');
    font-size:xx-large;
    font-family: Georgia;
   background-repeat: no-repeat;
   background-size: cover;
}
img{
    padding: 10px;
}
.left {
    float: left;
}

body{
    background-color: gold;
    background-size: cover;
}

ul{
    overflow: hidden;
}

li{
    float:left;
    background-color: ivory;
    text-decoration: none;
    display: inline;
}

a{
    text-decoration: none;
    display: block;
    background-color:forestgreen;
    padding: 10px;
}